/*.title {*/
/*  vertical-align: top;*/
/*}*/

td:first-child {
  vertical-align: top;
}

.title-small {
  margin-bottom: 0;
}

.title-table {
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: bold;
}

.avatar {
  background-image: url(../img/photo.jpg);
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

td > ol, ul, li {
  margin-bottom: 0;
}
