.title-small {
  margin-bottom: 0;
}

.avatar {
  background-image: url(../img/photo.jpeg);
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

td > ol, ul, li {
  margin-bottom: 0;
}